header {
	text-align: center;
	background: none;
	color: white;
}
h1{
	font-family: garamond;
	font-size: 30px;
	font-style: bold;
}
h2 {
  text-align: center;
  font-family: garamond;
  font-size: 14px;
  color: white;
}
h3 {
  font-size: 20px;
  font-family: Garamond;
  color: black;
}
h1{
	font-family: garamond;
	font-size: 30px;
	font-style: bold;
}
p{
	font-style: bold;
	font-size: 15px;
	font-family: garamond;
  color: white;

}
.menu ul{
  text-align: center;
	list-style: inline;
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-family: garamond;
  color: black;
}
ul {
	list-style-type: none;
	padding: 10px;
	background: none;
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
#full-screen-home-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

#full-screen-about-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

#full-screen-film-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

#full-screen-portfolio-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}
